<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body style="width: 75%;margin: 0 auto;">
        <nav style="background: #93c5fd;">
            <ul>
                <li><span style="color: #f1ffef;"><a href="{{ path('app_public_login') }}">login</a></span></li>
                <li><span style="color: #f1ffef;"><a href="{{ path('app_public_logout') }}">logout</a></span></li>
                <li><span style="color: #f1ffef;"><a href="{{ path('app_shared_index') }}">shared index</a></span></li>
                <li><span style="color: #f1ffef;"><a href="{{ path('app_shared_list') }}">shared list</a></span></li>
                <li><span style="color: #f1ffef;"><a href="{{ path('app_index_index') }}">index index</a></span></li>
                <li><span style="color: #f1ffef;"><a href="{{ path('app_index_list') }}">index list</a></span></li>
            </ul>
        </nav>

        <section>
            {% block body %}{% endblock %}
        </section>

    </body>
</html>
